body{
	font-size: 16px;
	box-sizing: border-box; 
}

.theme-blue{
	background: blue -webkit-radial-gradient(left top,circle cover,rgb(12,180,206),rgb(6,116,236) 100%);
	color:white;
}

.theme-white{
	background-color: white;
}

.theme-gray{
	background-color: #1b1d1f;
	padding: 30px;
	color: white;
}

h1{ 
	font-size: 2.3em; 
	line-height: 1em;
}

h2{ 
	font-size: 1.7em; 
	text-align: center;
}

h3{ font-size: 1.4em; }

h4{	font-size: 1..3em; }
h5{ font-size: 1.2em; }
h6{ font-size: 1.1em; }
p{
	font-size: 1em;
}

.separator{
	border-color: #0cb4ce;
	width: 80px;
	border-top-width: 2px;
	border-style: solid;
	padding: 10px;
	padding-bottom: 5px;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

/*	HEADER */
#fullscreen {
	height: 100vh;
	background-image: url('../img/back1.jpg');
	color: white;  
	align-items: center;
   	background-size: cover;
    	background-repeat: no-repeat;
    	padding: 5%;	
}

#fullscreen .fullscreen_content{
	/* padding-top: 10%; */
}

#fullscreen .fullscreen_link a{
	color: white;
}

.intro_text{
	text-align: center;
	padding-top: 20%;
}

.header-img img{
	float: right;
	padding-top: 50px;
}

.intro_download_btn{	
	width: 95%;
	padding: 15px;
}

/**Video**/
#video_block{
	 padding: 50px;
}

.thumbnail{
	border-radius: 0px;
}

.well {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 0px;    
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #0884e5;
}

.icon-blue{
	color: #0884e5;
	padding: 5px;
}

/**benefits**/
#benefits{
	padding: 15px;
}

#benefits h2{
	color: white;
}

#benefits h3{

}

#benefits .thumbnail{
	border: none;
	padding: 30px;
	border-radius: 0px;
	min-height: 560px;

	/* height: 550px; */
}
#benefits img{
	height: 200px;
	width: auto;
}
/* Features*/

#features{
 	padding-top: 20px;
 	padding-bottom: 50px;
 }
.features-block{
	padding-top: 30px;
	padding-bottom: 20px;
}
#features .features-image {
  width: 290px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
#features .features-image img {
  width: 100%;
}
#features .feature-item {
  margin-bottom: 60px;
}
#features .feature-item:last-child {
  margin-bottom: 0px;
}
#features .feature-item .title {
  margin-top: 20px;
}
#features .feature-item p {
	color: grey;
  margin-top: 10px;
}
#features .feature-item p:last-child {
  margin-bottom: 0px;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

/* DOWNLOAD BLOCK*/
#download_block{
	 padding: 25px; 
	 background-color: rgba(0, 0, 0, 0.48);
	 color: white;
	 height: 100%;
}

.downloadApp{
	margin: auto;
	text-align:center;
	/* color: #303133; */
	font-weight:600;	
}

.appPlay1{
	 width: 90%;
}

.appPlay2{
	width: 90%;
}

.appPlay{
	padding-left: 25px;
}
.phone{
	padding: 20px;
}

.phone img{
	margin: 0 auto;
	padding: 20px;
}

/**Carousel**/

.carousel-inner .active.left{ 
	left: -25%;
}
.carousel-inner .next{ 
	left:  25%;
}
.carousel-inner .prev{ 
	left: -25%; 
}
.carousel-control{
	widows: 4%;
}
.carousel-control.left,.carousel-control.right{
	margin-left:15px;
	background-image:none;
}


/***PARALLAX**/
.parallax{ 
    background-image: url('../img/perspective.jpg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**SEND REQUEST FORM**/
.inputs{
	/*width: 300px !important;*/
	display: inline;
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-top:20px;
}
.forms{
	/*	width: 1100px;*/
	text-align: center;
	padding: 50px;
}
.inputText{
	margin-top: 20px;
	/*width: 998px;*/
	border-radius: 5px;
	/*margin-left: 35px !important;*/
}
#btn_request{
	text-align: center;
	height: 45px;
	/*width: 190px;*/
	margin-top: 20px;
	font-size: 1.2em;
	margin-bottom: 5px;
}

/**ABOUT US BLOCK**/
#about_company h2{
	color: black;
}
.projects{
	padding: 20px;
}

.aboutUs{
	height: 100%;
}

.about_company__text{
 	 padding: 30px;
}

/**SOCIAL**/

#social_links{
	padding: 50px;
	text-align: center;
}



@media(max-width: 767px){	
	.phone{
		display: none !important;
	}

	#hidden-mobile{
		display: none !important;
	}
}

@media(min-width: 992px) and (max-width: 1025px){
	.appPlay{
		padding-left: 10px;
	}
}

@media (max-width: 991px) { 
  .features-section-1 .features-image {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .vertical-middle {
    display: block !important;
  }
  #features .features-block .feature-item{
  	text-align: center;
  }  
}

@media(min-width: 768px) and (max-width: 815px){
	.appPlay{
		padding-left: 20px;
	}
}

@media(min-width: 1202px) and (max-width: 1230px){
	.appPlay{
		padding-right: 20px;
	}
}

@media(min-width: 468px) and (max-width: 766px){
    .appPlay1 .appPlay2{
		width: 	70%;
		float: none;
	}

	.appPlay{
		text-align: center;
		float: none;
		padding-left: 80px;
	}
}

@media(max-width: 467px){
    .appPlay1 .appPlay2{
		width: 	50%;
		float: none;
	}

	.appPlay{
		text-align: center;
		float: none;
	}
}