body{
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Istok Web', sans-serif;
}

.theme-blue{
	background: blue -webkit-radial-gradient(left top,circle cover,rgb(12,180,206),rgb(6,116,236) 100%);
	color:white;
}

.theme-white{
	background-color: white;
}

.theme-grey{
	background-color: #f6f6f6;
	color: black;
}

h1{ 
	font-size: 2.3em; 
	line-height: 1.2em;
}

h1 span{
	color: #f01a4e;;
}

h2{ 
	font-size: 1.7em; 
	text-align: center;
}

h3{ font-size: 1.4em; }

h4{	font-size: 1..3em; }
h5{ font-size: 1.2em; }
h6{ font-size: 1.1em; }
p{
	font-size: 1em;
}

.sub_title{
 	color: grey;
 	line-height: 1em;
 }

.separator{
	border-color: #0cb4ce;
	width: 80px;
	border-top-width: 2px;
	border-style: solid;
	
	border-color: #f01a4e;;
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

/*	HEADER */
#fullscreen {
	height: 100vh;
	background-image: url('../img/bg.svg'); 
	align-items: center;
   	background-size: cover;
   	background-repeat: no-repeat;
    padding-top: 5%;	
}

#fullscreen .fullscreen_content{
	/* padding-top: 10%; */
}

#fullscreen .fullscreen_link a{
	color: white;
}

.intro_text{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 20px;
}

.header-img img{
	float: right;
	padding-top: 50px;
}

.intro_download_btn{

	/* max-width: 95%; */
	height: 75px;
	padding: 2px;	
	
}

#download_block .intro_download_btn_appple{
	float: right;
}



/**benefits**/
#benefits{
	padding: 15px;
}



#benefits .thumbnail{
	border: none;
	padding: 30px;
	border-radius: 0px;
	min-height: 540px;

	/* height: 550px; */
}
#benefits img{
	height: 200px;
	width: auto;
}


/** Features **/
#features{
 	padding-top: 20px;
 	padding-bottom: 50px;
 }



.features-block{
	padding-top: 30px;
	padding-bottom: 20px;
}

#features .features-image {
	width: 290px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#features .features-image img {
  	width: 100%;
}

#features .feature-item {
  	margin-bottom: 60px;
}

#features .feature-item:last-child {
	margin-bottom: 0px;
}

#features .feature-item .title {
  	margin-top: 20px;
}

#features .feature-item p {
	color: grey;
  	margin-top: 10px;
}
#features .feature-item p:last-child {
  margin-bottom: 0px;
}

.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

#features i{
	color: #f01a4e;
}

/* DOWNLOAD BLOCK*/
#download_block{
	 padding-top: 25px; 
	 background-color: rgba(0, 0, 0, 0.48);
	 color: white;
	 height: 100%;
}

.downloadApp{
	margin: auto;
	text-align:center;
	/* color: #303133; */
	font-weight:600;	
}


.phone{
	padding: 20px;
}

.phone img{
	margin: 0 auto;
	padding: 20px;
}

/**Carousel**/
#screenshots_gallery{
	padding-top: 50px;
	padding-bottom: 50px;
}

.screenshots_carousel{
	padding-top: 20px;
	padding-bottom: 20px;
}
.carousel-inner .active.left{ 
	left: -25%;
}
.carousel-inner .next{ 
	left:  25%;
}
.carousel-inner .prev{ 
	left: -25%; 
}
.carousel-control{
	widows: 4%;
}
.carousel-control.left,.carousel-control.right{
	margin-left:15px;
	background-image:none;
}


/***PARALLAX**/
.parallax{ 
    background-image: url('../img/perspective.jpg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**SEND REQUEST FORM**/
.inputs{
	/*width: 300px !important;*/
	display: inline;
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-top:20px;
}
.forms{
	/*	width: 1100px;*/
	text-align: center;
	padding: 50px;
}
.inputText{
	margin-top: 20px;
	/*width: 998px;*/
	border-radius: 5px;
	/*margin-left: 35px !important;*/
}
#btn_request{
	text-align: center;
	height: 45px;
	/*width: 190px;*/
	margin-top: 20px;
	font-size: 1.2em;
	margin-bottom: 5px;
}

/**ABOUT US BLOCK**/
#about_company h2{
	color: black;
}
.projects{
	padding-bottom: 20px;
}

.projects_pics{
	 width: 130px;
	 height: 150px;
}
.aboutUs{
	height: 100%;
}

.about_company__text{
 	padding-bottom: 30px;
}

/**SOCIAL**/

#social_links{
	padding-top: 50px;
	padding-bottom: 20px;
}

#social_links i{
	font-size: 1.5em;
	color: red;
	padding: 2px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    color: white;
}


@media (max-width: 991px) { 
  .features-section-1 .features-image {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .vertical-middle {
    display: block !important;
  }
  #features .features-block .feature-item{
  	text-align: center;
  }  
}

@media(max-width: 757px){
	#download_block .intro_download_btn_appple{
		float: none;
	}

	.intro_download_btn{
		display: block;
    	margin: 0 auto;
	}
}
