body{
	font-size: 16px;
	box-sizing: border-box; 
}
section{
	/* padding: 50px; */
}
.theme-blue{
	background: blue -webkit-radial-gradient(left top,circle cover,rgb(12,180,206),rgb(6,116,236) 100%);
	color:white;
}

.theme-white{
	background-color: white;
}

h1 { 
	font-size: 2.3em; 
	line-height: 1em;
 }
h2 { font-size: 1.9em; }
h3 { font-size: 1.7em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.5em; }
p{
	font-size: 1.1em;
}
.separator{
	border-color: #0cb4ce;
	width: 80px;
	border-top-width: 2px;
	border-style: solid;
	padding: 10px;
}

/*	HEADER */
#fullscreen {
	height: 100%;
	color: white;  
	/* display: flex; */
	align-items: center;
	background-image: url('../img/ppl5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;

	
}


#fullscreen .container .row{
	padding: 5%;
}
.intro_text{
	text-align: center;
	padding: 50px;

}
.header-img img{
	float: right;
	max-height: 450px;
}

.intro_download_btn{

	width: 95%;
	padding: 5px;
}

/**Video**/
#video_block{
	 padding: 50px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #0884e5;
}


/**Features**/
#features{
	padding: 15px;
}
#features h2{
	color: white;
}

#features h3{

}

#features .thumbnail{
	border: none;
	padding: 30px;
	border-radius: 0px;
	/* height: 550px; */
}
#features img{
	height: 200px;
	width: auto;
}

#features p{
	padding: 5px;
}


/* DOWNLOAD BLOCK*/
#download_block{
	 padding: 25px; 
}
.downloadApp{
	margin: auto;
	text-align:center;
	color: #303133;
	font-weight:600;
}

.appPlay1{
	/* margin-top: 20px;
	 */width: 90%;
	/*float: right: ;ight;*/
}

.appPlay2{
	width: 90%;
	/*	float: left;*/
	/* margin-top: 20px; */
}

.appPlay{
	padding-left: 25px;
}
.phone{
	padding: 20px;
}

.phone img{
	margin: 0 auto;
	padding: 20px;
}

/**SEND REQUEST FORM**/
.inputs{
	/*width: 300px !important;*/
	display: inline;
	/*margin-left: 20px;
	margin-right: 20px;*/
	margin-top:20px;
}
.forms{
	/*	width: 1100px;*/
	text-align: center;
	padding: 50px;
}
.inputText{
	margin-top: 20px;
	/*width: 998px;*/
	border-radius: 5px;
	/*margin-left: 35px !important;*/
}

#btn_request{
	text-align: center;
	height: 45px;
	/*width: 190px;*/
	margin-top: 20px;
	font-size: 1.2em;
	margin-bottom: 5px;
}


/**ABOUT US BLOCK**/
#about_company{
	padding: 30px;
	
}
.projects{
	/*float: left;*/
	/*height: 300px;*/
	padding: 20px;
}

.aboutUs{
	/*float: right;*/
	height: 100%;
}


.about_company__text{
/* 	margin-top: 30px;
	 padding: 30px;*/
}


/**SOCIAL**/

#social_links{
	padding: 50px;
	text-align: center;
}

/**parallax**/


@media(max-width: 767px){
	
	.phone{
		display: none !important;
	}
	#hidden-mobile{
		display: none !important;

	}
}

@media (min-width: 858px) {
    html {
        font-size: 11px;
    }
}


@media (min-width: 780px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 9px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 7px;
    }
}

 @media(min-width: 992px) and (max-width: 1025px){
		.appPlay{
			padding-left: 10px;
	}
}


@media(min-width: 768px) and (max-width: 815px){
	.appPlay{
	padding-left: 20px;
	}
}



@media(min-width: 1202px) and (max-width: 1230px){
		.appPlay{
	padding-right: 20px;
}



@media(min-width: 468px) and (max-width: 766px){


    .appPlay1 .appPlay2{
		width: 	70%;
		float: none;
	}

	.appPlay{
		text-align: center;
		float: none;
		padding-left: 80px;
	}
}

@media(max-width: 467px){

	
    .appPlay1 .appPlay2{
		width: 	50%;
		float: none;
	}

	.appPlay{
		text-align: center;
		float: none;
	}
}